ing-header>div{ 
  position: relative;
    color: "#00FF00";
  background: url(./bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 10px 5px #888888;
  width:100%;
  padding:10px;
  text-align: center;
  margin-bottom: 15px;
  
  height: 25vh;
}
ing-header{
  color: white;
  height:100%;
  
}
ing-header .text{
     margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px #fff, 0 0 2px #fff;
    color: #000;
    font-size: 4em;;
  
}