<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="./cat.jpg" alt="..." height="100">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Hello world</h4>
                    In this project you can find examples of most features availabe
                </div>
            </div>
        </div>
    </div>
</div>